@font-face {
  font-family: "Caper";
  font-style: normal;
  src: url(CaperVF-Regular.woff2);
}
:root {
  --color-dark: rgb(15 15 15);
  --color-bg: rgb(255 255 255);
  --color-txt: rgb(30 30 30);
  --color-link: rgb(100 100 100);
  --color-grey: rgb(150 150 150);
  --pad: 10px;
  --pad-content: 40px;
  --size-xsmall: 0.6rem;
  --size-small: 0.8rem;
  --size-base: 2rem;
  --size-medium: 3rem;
  --size-large: 70px;
  --size-xlarge: 90px;
  --wdth: 100;
  --wght: 300;
}

* {
  font-variation-settings: "wdth" var(--wdth), "wght" var(--wght);
}

html {
  font-size: 24px;
}

body {
  font-family: "Caper";
  font-variation-settings: "wdth" var(--wdth), "wght" var(--wght);
  letter-spacing: 0.02em;
  background: var(--color-dark);
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h1 {
  --wght: 200;
  font-size: var(--size-large);
  letter-spacing: 0;
  margin: 0 auto;
}

h2 {
  margin: 0 auto;
}

h2, h3, h4 {
  color: var(--color-grey);
  --wght: 300;
  font-size: var(--size-base);
  letter-spacing: 0.02em;
}

p, li {
  --wght: 300;
  margin: 0;
  font-size: var(--size-base);
  max-width: 30em;
  letter-spacing: 0.02em;
}

a {
  color: var(--color-grey);
  text-decoration: none;
}

em {
  font-style: normal;
  --wght: 800;
}

ul {
  max-width: 30em;
  text-align: left;
  padding-left: 0;
  margin-bottom: var(--pad);
}
ul + h4 {
  margin-top: var(--pad-section);
}
ul li {
  list-style-type: none;
}

figure {
  width: 100%;
  margin: var(--pad) 0;
}
figure code {
  font-size: 2rem;
}

img, video {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: calc(90vh - 150px);
  object-fit: contain;
  object-position: top center;
}

video {
  max-height: 90vh;
  margin: auto;
}

figcaption {
  text-align: center;
  margin-top: var(--pad);
  font-size: var(--size-small);
  letter-spacing: 0.05em;
}

iframe {
  width: 100%;
  height: 85vh;
}

.source {
  font-size: var(--size-xsmall);
  padding-left: 1em;
  border: none;
}

.text-column {
  text-align: left;
}

footer {
  font-size: var(--size-small);
  position: absolute;
  bottom: 0;
  text-align: left;
  padding: var(--pad);
  left: 0;
}
footer div {
  grid-column: span 4;
}

.layout-slides header, .layout-slides footer, .layout-slides section {
  max-width: none;
  margin: 0;
  width: 100%;
}

table {
  margin: auto;
  margin-top: var(--pad);
  margin-bottom: var(--pad);
  font-size: calc(var(--size-base) * 0.7);
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}
table th {
  --wght: 500;
  border-bottom: 2px solid;
}
table td {
  min-width: 8em;
  vertical-align: top;
}
table th, table td {
  padding: 0.25em 0.5em;
}
table th:first-child, table td:first-child {
  padding-left: 0;
}
table th:last-child, table td:last-child {
  padding-right: 0;
}

.slide {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background: var(--color-dark);
  color: white;
  padding: var(--pad);
}
.slide.divider {
  text-align: center;
}
.slide.divider .text {
  margin: auto;
  padding: 0;
}

.pad {
  padding: var(--pad);
  background: white;
}

.text {
  margin: auto;
  width: 90%;
}

figure.small img {
  height: 70vh;
}

.cols {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col2 {
  grid-column: span 6;
}

/*-----------------
DIAGRAMS
-------------------*/
arrow {
  font-family: "Occ Arrow";
  font-variation-settings: "wdth" 100;
  position: relative;
}
arrow .leftarrow {
  position: absolute;
  left: 0;
}
arrow .rightarrow {
  position: absolute;
  right: 0;
}

.definition {
  width: 65%;
  text-align: left;
}
.definition dt {
  font-size: var(--size-large);
}
.definition dd {
  font-size: var(--size-medium);
  margin-top: 1rem;
}
.definition code {
  font-size: var(--size-default);
  --wght: 600;
}
.definition figcaption {
  margin-top: 1rem;
}

.interpolation {
  width: 90%;
  margin: auto;
}
.interpolation .arrow {
  display: flex;
  align-items: center;
  font-size: 100px;
}

.interp {
  font-size: 300px;
  grid-column: span 3;
  text-align: center;
  margin: auto;
}

.animate {
  animation-play-state: paused;
}

.wghtanimate {
  animation: wghtanimate 1s linear alternate infinite;
}

@keyframes wghtanimate {
  0% {
    font-variation-settings: "wdth" 100, "wght" 100, "slnt" 0;
  }
  100% {
    font-variation-settings: "wdth" 100, "wght" 700, "slnt" 0;
  }
}
.wdthanimate {
  animation: wdthanimate 1s linear alternate infinite;
}

@keyframes wdthanimate {
  0% {
    font-variation-settings: "wdth" 75, "wght" 400, "slnt" 0;
  }
  100% {
    font-variation-settings: "wdth" 125, "wght" 400, "slnt" 0;
  }
}
.maganimate {
  animation: maganimate 1s linear alternate infinite;
}

@keyframes maganimate {
  0% {
    font-variation-settings: "wdth" 100, "wght" 100;
  }
  100% {
    font-variation-settings: "wdth" 100, "wght" 900;
  }
}
.mag-wdth-animate {
  animation: magwdthanimate 1s linear alternate infinite;
}

@keyframes magwdthanimate {
  0% {
    font-variation-settings: "wdth" 50, "wght" 400;
  }
  100% {
    font-variation-settings: "wdth" 150, "wght" 400;
  }
}
p + pre {
  margin-top: var(--pad-medium);
}

.diagram {
  margin: var(--pad) 0;
  font-size: 16px;
  border: 1px solid var(--color-tertiary);
  padding: var(--pad);
  position: relative;
}
.diagram h1, .diagram h2, .diagram h3, .diagram h4, .diagram p, .diagram em {
  text-transform: none;
  color: var(--color-dark);
  text-indent: 0;
}
.diagram .highlight {
  background: yellow;
}
.diagram #demo {
  font-weight: bold;
}
.diagram ul li {
  list-style-type: disc;
  margin-left: 1em;
}
.diagram ul li:before {
  content: "";
}
.diagram .caption {
  font-size: 16px;
}

.diagram h1 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.diagram p {
  margin-bottom: 1rem;
}

.diagram em {
  font-style: italic;
}

.line {
  height: 1.5em;
  background: var(--color-dark);
  color: var(--color-bg);
  margin-bottom: 0.5em;
}

.square {
  width: 100px;
  height: 100px;
  background: var(--color-dark);
  color: var(--color-bg);
  font-size: 150px;
  line-height: 0.5;
  text-align: center;
}

.hover:hover {
  transform: rotate(45deg);
}

.trans {
  transition: transform 400ms ease-in-out;
}

.flex {
  display: flex;
}

.inline {
  width: 32%;
  height: 1.5em;
  margin-bottom: 0.5em;
}

.solid {
  background: transparent;
  border: 1px solid var(--color-link);
}

.marked {
  background: var(--color-link);
}

.marked-old {
  background: var(--color-link);
  opacity: 0.2;
}

@keyframes vf {
  0% {
    font-variation-settings: "wght" 20, "wdth" 100, "slnt" 0;
  }
  100% {
    font-variation-settings: "wght" 140, "wdth" 100, "slnt" 0;
  }
}
@keyframes changecolor {
  0% {
    background-color: blue;
    border-radius: 0;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: green;
    border-radius: 50px;
  }
}
.arrow {
  display: flex;
  align-items: center;
  font-size: 100px;
}

.interp {
  font-size: 300px;
  display: flex;
  align-items: center;
}

.animate {
  animation-play-state: paused;
}

@keyframes show {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
.label {
  font-size: 0.9rem;
  --wght: 600;
  --wdth: 120;
  margin-top: -2px;
  padding: 0 3px;
}

.vector {
  margin: auto;
  display: flex;
  width: 500px;
  padding: 5rem;
}
.vector .endpoint {
  border-radius: 50%;
  background: var(--color-link);
  width: 10px;
  height: 10px;
}
.vector .line {
  flex: 1;
  position: relative;
  top: 3px;
}
.vector .linemove {
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 3px solid white;
  animation: extendline 2s 1s linear infinite;
}
.vector .label {
  color: var(--color-grey);
  margin-top: -12px;
  padding: 5px;
}

@keyframes extendline {
  0% {
    width: 0;
  }
  80% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .layout-slides {
    --size-base: 1.4rem;
  }
  .text {
    width: 90%;
    margin: auto;
    padding-left: 0;
  }
}
@media (max-width: 500px) {
  .text {
    width: 100%;
  }
  .grid {
    display: block;
  }
}

/*# sourceMappingURL=slides.css.map */
